<div class="col-4 col-12-medium">
    <div id="sidebar">

        <!-- Sidebar -->

        <section>
            <header class="major">
                <h2>Интересное</h2>
            </header>
            <p style="text-align: justify">
                В рамках спецификации современных стандартов, представители современных социальных резервов неоднозначны 
                и будут указаны как претенденты на роль ключевых факторов. Внезапно, акционеры крупнейших компаний представляют 
                собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть ассоциативно распределены по отраслям.
            </p>
            <footer>
                <a asp-action="Index" asp-controller="Home" class="button icon solid fa-info-circle">Подробнее</a>
            </footer>
        </section>
    </div>
</div>