<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="col-3 col-6-medium col-12-small">
                <!-- Links -->
                <section>
                    <h2>Наши партнёры</h2>
                    <ul class="divided">
                        <li><a href="https://edu.cbsystematics.com/">CyberBionic Systematics</a></li>
                        <li><a href="https://itvdn.com/ru">ITVDN - видео про разработку</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-3 col-6-medium col-12-small">
                <!-- About -->
                <section>
                    <h2>Заказать сайт</h2>
                    <p>
                        Привет! Меня зовут <strong>Владимир Никитин</strong>, я разработчик компан ии 
                        <a href="http://development.cbsystematics.com/">Cyberbionic Systematics</a>.
                        Чтобы заказать разработку сайта - нажми на кнопку ниже :)
                        </p>
                    <a href="http://development.cbsystematics.com/" class="button alt icon solid fa-arrow-circle-right">Заказать</a>
                </section>
            </div>
            <div class="col-6 col-6-medium col-12-small">
                <!-- Contact -->
                <section>
                    <h2>Мы в социальных сетях</h2>
                    <div>
                        <div class="row">
                            <div class="col-12 col-12-small">
                                <dl class="contact">
                                    <dt>Twitter</dt>
                                    <dd><a href="#">@@untitled-corp</a></dd>
                                    <dt>Facebook</dt>
                                    <dd><a href="#">facebook.com/untitled</a></dd>
                                    <dt>WWW</dt>
                                    <dd><a href="#">untitled.tld</a></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <div class="col-12">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Volodich Development. All rights reserved</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>