@using TaskSchedulerWebApp.Settings
<div id="header-wrapper">
    <div class="container">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <h1><a asp-action="Index" asp-controller="Home" id="logo">@CompanyInfo.Name</a></h1>
                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a asp-action="Index" asp-controller="Home">Главная</a></li> <!--Переход на главную страницу-->
                        <li><a asp-action="Index" asp-controller="UserTasks">Мои задачи</a></li>
                        <li><a asp-action="Contacts" asp-controller="Home">Контакты</a></li>
                        <li><a asp-action="Logout" asp-controller="Account">Выход</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </div>
</div>