@model TaskSchedulerWebApp.Models.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход</title>
    @await Html.PartialAsync("CssPartial")
</head>
<body>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2>Вход на сайт</h2>
            <hr />
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 aln-center">
            <form asp-action="Login" asp-controller="Account" asp-antiforgery="true" asp-route-returnUrl="@ViewBag.returnUrl" accesskeymethod="Post">
                <div class="form-group">
                    <label asp-for="UserName">Login (email)</label>
                    <input asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div form-group>
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe" />
                    <span asp-validation-for="RememberMe"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти"/>
                </div>
                <div class="form-group">
                    <a asp-action="Registration" asp-controller="Account">
                        <input type="button" value="Регистрация"/>
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>