@using TaskSchedulerWebApp.Settings
@{
    ViewBag.Title = "Главная";
}
<div class="col-8 col-12-medium">
    <div id="content">
        <article>
            <header class="major">
                <h2>Про сайт @CompanyInfo.Name</h2>
                <p>Краткая информация о работе сайта</p>
            </header>

            <p>
                Прежде всего, повышение уровня гражданского сознания создаёт предпосылки для новых принципов формирования
                материально-технической и кадровой базы. Являясь всего лишь частью общей картины, сторонники тоталитаризма
                в науке, превозмогая сложившуюся непростую экономическую ситуацию, преданы социально-демократической анафеме.
                Следует отметить, что высококачественный прототип будущего проекта не оставляет шанса для глубокомысленных
                рассуждений. В своём стремлении повысить качество жизни, они забывают, что сложившаяся структура организации
                обеспечивает актуальность форм воздействия.
            </p>

            <span class="image featured"><img src="images/source.gif" alt="" /></span>

            <h3>Только прототип - не панацея</h3>
            <p>
                Повседневная практика показывает, что курс на социально-ориентированный национальный проект обеспечивает актуальность
                как самодостаточных, так и внешне зависимых концептуальных решений. Равным образом, повышение уровня гражданского сознания
                способствует подготовке и реализации экспериментов, поражающих по своей масштабности и грандиозности. Реплицированные с
                зарубежных источников, современные исследования будут разоблачены. Как уже неоднократно упомянуто, стремящиеся вытеснить
                традиционное производство, нанотехнологии и по сей день остаются уделом либералов, которые жаждут быть объективно рассмотрены
                соответствующими инстанциями. Мы вынуждены отталкиваться от того, что современная методология разработки однозначно фиксирует
                необходимость новых предложений.
            </p>

            <p>
                Мы вынуждены отталкиваться от того, что постоянный количественный рост и сфера нашей активности не оставляет шанса для новых
                предложений. С учётом сложившейся международной обстановки, синтетическое тестирование, а также свежий взгляд на привычные вещи -
                безусловно открывает новые горизонты для вывода текущих активов. Не следует, однако, забывать, что новая модель организационной
                деятельности позволяет оценить значение соответствующих условий активизации. Сложно сказать, почему ключевые особенности структуры
                проекта формируют глобальную экономическую сеть и при этом - ограничены исключительно образом мышления. Мы вынуждены отталкиваться от
                того, что повышение уровня гражданского сознания говорит о возможностях прогресса профессионального сообщества.
            </p>
        </article>
    </div>
</div>